* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}


    /* Load Animation starts here */ 

    #loader {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid rgb(0, 4, 255);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }
      
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .reveal{
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
        
      }
      
      .reveal.active{
        transform: translateY(0);
        opacity: 1;
      }
      
body {
    font-family: 'Orbitron';
    color: rgb(255, 255, 255);
    background-color: black;
}

.background_div {
    padding-top: 2vh;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url('img/back.png');
    background-color: black;
    background-repeat: no-repeat;
}
h1,h2,h3,h4,p,a{
    font-family: 'Orbitron';
}
a{
    font-weight: 200;
}
h1{
    font-size: 40px;
    font-weight: bolder;
}
h2 {
    font-size: 52px;
    font-weight: bolder;
    font-style: italic;
    
}
h3 {
    margin-top: 2vh;
    font-size: 22px;
    font-style: oblique;
}
.F_letter {
    font-family: 'Orbitron';
    color: blue;
    font-weight: 1000;
    
}
.navigation {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.brand {
    margin: 10vh 20vh;
}
.logo {
    height: 50px;
}

.links {
    margin: 10vh 20vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
li {
    float: left;
    padding: 6px 2px;
  }
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    position: relative;
  }
  li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
  }
  li a:hover::after {
    width: 100%;
  }


.container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: left;

}
.presentation {
    display: flex;
    flex-direction: column;
    margin: 30vh 26vh;
   
}



/* About */

#about {
    padding: 80px 0;
    color: rgb(174, 174, 226);
    background-color: rgb(0, 0, 0);
}
.row {
    display: flex;
    justify-content: space-between;
    margin: 0 10vw;
   
}
.about-col-2 {

}

.about-col-1 img {
    margin: 0 70px;
    border-radius: 16px;
    width: 25vw;
    
}

.about_title {
    font-size: 50px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.tab_titles {
    display: flex;
    margin: 20px 0;
}

.tab_links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: 0.4s;
    
}
.tab_links::after {
    content: '';
    width: 0;
    height: 2px;
    background: blue;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.4s;
}

.tab_links.active-link::after{
    width: 50%;
}

.tab-contents ul {
    display: flex;
    flex-direction: column;
    
}

.tab-contents ul li {
    list-style: none;
    margin: 15px 0;
    font-family: 'Orbitron';
    
}

.tab-contents ul li span {
    color: blue;
    font-size: 16px;
    font-family: 'Orbitron';
    
}

.tab-contents {
      display: none;
      
}

.tab-contents.active-tab {
    display: block;
    transition: 0.4s;
} 


/* Projects  */

.projects {
    padding: 30px 0;
}

.container3 {
    text-align: center;
    margin: 0 200px;
}

.container4 {
    align-items: center;
    
    margin: 100px 100px;
}
.services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.services-list h2 {
    font-size: 20px;
}

.services-list div {
    background: #b1bac7;
    padding: 18px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 2px;
    color: black;
    transition: 0.4s;
}
.services-list div a {
    text-decoration: none;
    color: rgb(65, 62, 62);
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}
.services-list img {
    margin: 16px;
}
.services-list img:hover{
    display: none;
}

.project_title {
    margin: 5vh 5vh;
}

.services-list div:hover{
    background: rgb(0, 0, 255);
    transform: translateY(-10px);
    cursor: pointer;
}

/* Contact  */


.contact-right { 
    flex-basis: 60%;
}
.contact-left {
    text-align: left;
    
    padding: 10px 10px;
    border-radius: 6px;
}
.contact-left p {
    margin-top: 20px;
    text-align: left;
}

.contact-left p img {
    height: 20px;
    margin: 0 8px;
    background-color: blue;
   border-radius: 4px;
}
.social-icons {
    margin-top: 30px;
    text-align: center;
}
.social-icons img {
    transition: 0.4s;
    margin-right: 10px;
    
    display: inline;
    cursor: pointer;
}

.social-icons img:hover {

    transform: translateY(-8px);
   
}

.btn{
    margin: 20px 20px;
    height: 50px;
    width: 200px;
    font-size: 16px;
    font-family: 'Orbitron';
    border: 2px solid blue;
    border-radius: 4px;
    background-color: black;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
.btn:hover {
    background-color: blue;
    transform: translateY(4px);
}

.contact-right form {
    width: 100%;
}
form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #b1bac7;
    font-size: 18px;
    border-radius: 6px;
}

.copyright {
    text-align: center;
    justify-content: center;
    margin: 10px 10px;
    background-color: #161616;
    height: 5vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.close_menu_button {
    display: none;
}
.open_menu_button {
    display: none;
}

/* CSS for mobile */ /* CSS for mobile *//* CSS for mobile *//* CSS for mobile */

@media only screen and (max-width: 600px){
    .background_div {
        background-image: url('img/eu-mobile.png');
    }
    .presentation {
        display: flex;
        flex-direction: column;
        margin: 60vh 2vh;
       
    }
    h1{
        font-size: 40px;
        font-weight: bolder;
    }
    h2 {
        font-size: 35px;
        font-weight: bolder;
        font-style: italic;
        
    }
    h3 {
        margin-top: 2vh;
        font-size: 16px;
        font-style: oblique;
    }
    .F_letter {
        font-family: 'Orbitron';
        color: rgb(255, 255, 255);
        font-weight: bold;
    }
    .brand {
        margin: 0px 0px;
    }
    .logo {
        height: 40px;
        margin-right: 120px;
    }
    .links {
        margin: 0;
    }

    .close_menu_button {
        display: block;
    }
    .open_menu_button {
        display: block;
    }

    nav ul {
        background: blue;
        position: fixed;
        margin-top: -40px;
        right: -200px;
        width: 200px;
        height: 100vh;
        z-index: 2;
        transition: 0.4s;
    }
    nav ul li {
        display: block;
        margin: 0px 40px;
    }
    nav ul .close_menu_button {
        position: absolute;
        top: 10px;
        left: 10px;
        cursor: pointer;
    }

    .navigation {
        height: 6vh;
    }
    
    #loader {
        position: absolute;
        left: 55%;
        top: 50%;
        z-index: 1;
        width: 120px;
        height: 120px;
        margin: -76px 0 0 -76px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid rgb(0, 4, 255);
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
      }

}